In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
import itertools as it

In [64]:
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {}  # dictionary with the searched data

'''Creating an extra column for profit of movies:'''
data['profit'] = data['revenue'] - data['budget']


def separation(data):
    '''Function for separation of certain data in the dataset.
       Function takes in a string and returns a
       list of elements of the string'''
    if '|' in data:
        data = data.split('|')
    return data

# 1. У какого фильма из списка самый большой бюджет?
# 1. Which movie has the highest budget?

In [5]:
highest_budget = data.loc[data['budget'] == data['budget'].max()]
highest_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011,641683000

In [6]:
answers['Highest budget'] = 'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?
# 2. Which movie is the longest(in minutes)?

In [7]:
longest_movie = data.loc[data['runtime'] == data['runtime'].max()]
longest_movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003,-43076064

In [8]:
answers['Longest movie'] = 'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?
# 3. Which movie is the shortest(in minutes)?

In [9]:
shortest_movie = data.loc[data['runtime'] == data['runtime'].min()]
shortest_movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011,-15540000

In [10]:
answers['Shortest movie'] = 'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?
# 4. What is the mean runtime of the movies?

In [11]:
mean_runtime = data.runtime.mean()
mean_runtime

109.6585494970884

In [12]:
answers['Mean runtime'] = '110 minutes'

# 5. Каково медианное значение длительности фильмов? 
# 5. What is the median runtime of the movies?

In [13]:
median_runtime = data.runtime.median()
median_runtime

107.0

In [14]:
answers['Median runtime'] = '107 minutes'

# 6. Какой самый прибыльный фильм?
# 6. Which movie has the highest profit(net gain)?

In [15]:
most_profitable = data[data['profit'] == data['profit'].max()]
most_profitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [16]:
answers['Most profitable movie'] = 'Avatar'

# 7. Какой фильм самый убыточный? 
# 7. Which movie has the highest net loss?

In [17]:
least_profitable = data[data['profit'] == data['profit'].min()]
least_profitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [18]:
answers['Least profitable movie'] = 'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?
# 8. How many movies from the dataset have a revenue highier than the budget?

In [19]:
net_gain = data.query('profit>0').count()
net_gain

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
dtype: int64

In [20]:
answers['Movies with net gain'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?
# 9. Which movie had the highest revenue in 2008?

In [21]:
set_year = data.loc[data['release_year'] == 2008]
highiest_revenue = set_year.loc[
    set_year['revenue'] == set_year['revenue'].max()
]
highiest_revenue

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

In [22]:
answers['Highest revenue of 2018'] = "The Dark Knight"

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?
# 10. Which movie from 2012-2014 has the highest losses?

In [23]:
set_year = data.loc[data['release_year'].isin(['2012', '2013', '2014'])]
highest_losses = set_year.loc[set_year['profit'] == set_year['profit'].min()]
highest_losses

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [24]:
answers['Highest loss of 2012-2014'] = "The Lone Ranger"

In [25]:
'''For certain questions below separation must be applied
first to genres, director and cast columns'''
data['genres'] = data['genres'].apply(separation)
data['director'] = data['director'].apply(separation)
data['cast'] = data['cast'].apply(separation)

release_date = data['release_date'].apply(lambda x: x.split('/'))
data['release_month'] = release_date.apply(lambda x: x[0])
'''First function takes in a string and returns a list of separated values
   Second funtion takes in a list and returns it\'s first value.
   These two lines create an extra column with release months of the movies'''

"First function takes in a string and returns a list of separated values\n   Second funtion takes in a list and returns it's first value.\n   These two lines create an extra column with release months of the movies"

# 11. Какого жанра фильмов больше всего?
# 11. Which genre is the most common amongst the movies in the dataset?

In [26]:
genres_exploded = data.explode('genres')
genres_count = genres_exploded.genres.value_counts()
genres_count

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [27]:
answers['Most common genre'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными? 
# 12. Movies of which genre tend to be profitable more often?

In [28]:
profitable_genres_count = genres_exploded.query(
    'profit>0').genres.value_counts()
profitable_genres_count

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

In [29]:
answers['Most profitable genre'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?
# 13. Which director has the highest total revenue?

In [30]:
directors_exploded = data.explode('director')
director_revenues = directors_exploded.groupby(['director'])['revenue'].sum(
    ).sort_values(ascending = False)
director_revenues

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [31]:
answers['Director with highest revenue'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?
# 14. Which director made the most Action movies?

In [32]:
action_movies = directors_exploded.explode('genres')
action_directors = action_movies[
    action_movies['genres'] == 'Action'].director.value_counts()
action_directors

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Ridley Scott          6
Antoine Fuqua         6
                     ..
John Dahl             1
Barry Levinson        1
Dito Montiel          1
Trey Parker           1
Betty Thomas          1
Name: director, Length: 364, dtype: int64

In [33]:
answers['Action Director with most movies'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году? 
# 15. Movies with which actor had the highest profits in 2012?

In [34]:
'''For this question I assumed that "highest profits" means total profit of all 
   movies with a specific actor, not their mean profits'''
set_year = data[data['release_year'] == 2012].explode(
    'cast').groupby(['cast'])['profit'].sum()
profitable_actor = set_year.loc[set_year == set_year.max()]
profitable_actor

cast
Chris Hemsworth    1542450773
Name: profit, dtype: int64

In [35]:
answers['Most profitable actor'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?
# 16. Which actor tends to appear in high-budget movies the most often?

In [36]:
'''For clarity, any movie with a budget above the mean is considered
   high-budget for this question'''
high_budget_actors = data[data['budget'] > data['budget'].mean()].explode(
    'cast').cast.value_counts()
high_budget_actors

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Tom Cruise           15
Samuel L. Jackson    15
                     ..
Scott Adkins          1
Anthony Edwards       1
Dwight Yoakam         1
Robbie Coltrane       1
Karen Allen           1
Name: cast, Length: 1505, dtype: int64

In [37]:
answers['Actor appearing in high-budget films'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage? 
# 17. In movies of which genre does Nicolas Cage appear the most?

In [38]:
exploded_cast = data.explode('cast')
common_genre = exploded_cast[exploded_cast['cast'] == 'Nicolas Cage'].explode(
    'genres').genres.value_counts()
common_genre

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [39]:
answers['Nicolas Cage appears the most in'] = ' Action movies'

# 18. Самый убыточный фильм от Paramount Pictures
# 18. Which movie created by Paramount Pictures has the highest net loss?

In [40]:
paramount_movies = data[
    data.production_companies.str.contains('Paramount Pictures')]
paramount_loss = paramount_movies.loc[
    paramount_movies['profit'] == paramount_movies['profit'].min()]
paramount_loss

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month
925,tt0267626,100000000,35168966,K-19: The Widowmaker,"[Harrison Ford, Liam Neeson, Peter Sarsgaard, ...",Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,"[Thriller, Drama, History]",Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034,7

In [41]:
answers[
    'Movie with highest net loss made by Paramount Pictures'
] = 'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?
# 19. Which year had the highest total profits?

In [42]:
total_profits = data.groupby(['release_year'])['profit'].sum()
profitable_year = total_profits.loc[total_profits == total_profits.max()]
profitable_year

release_year
2015    18668572378
Name: profit, dtype: int64

In [43]:
answers['Most profitable year'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?
# 20. Which year was the most profitable for Warner Bros?

In [44]:
warner_movies_profits = data[
    data.production_companies.str.contains('Warner Bros')
].groupby(['release_year'])['profit'].sum()
max_profit = warner_movies_profits.loc[
    warner_movies_profits == warner_movies_profits.max()
]
max_profit

release_year
2014    2295464519
Name: profit, dtype: int64

In [45]:
answers['Most profitable year for Warner Bros'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?
# 21. Which month is the most common for movie releases?

In [46]:
films_released = data['release_month'].value_counts()
films_released

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

In [47]:
answers['Most common month for movies to be released'] = '9th month, September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
# 22. How many movies were released during all the summers?

In [48]:
summer_releases_count = len(
    data.loc[data['release_month'].isin(['6', '7', '8'])]
)
summer_releases_count

450

In [49]:
answers['Number of summer releases'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года? 
# 23. Which director produces the most movies during winter?

In [50]:
winter_releases = directors_exploded.loc[
    directors_exploded['release_month'].isin(['1', '2', '12'])
]
winter_productivity = winter_releases.director.value_counts()
winter_productivity

Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Martin Scorsese      4
Adam Shankman        4
                    ..
James McTeigue       1
Jonathan Levine      1
Kevin Allen          1
John Hamburg         1
Sam Mendes           1
Name: director, Length: 358, dtype: int64

In [51]:
answers['Most productive winter director'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?
# 24. Which company gives the longest movie titles?(most syllables)

In [52]:
data['production_companies'] = data['production_companies'].apply(separation)
companies_exploded = data.explode('production_companies')
companies_exploded['title_length'] = companies_exploded[
    'original_title'].apply(lambda x: len(x))
mean_tilte_length = companies_exploded.groupby(
    ['production_companies'])['title_length'].mean()
longest_titles = mean_tilte_length.loc[
    mean_tilte_length == mean_tilte_length.max()
]
longest_titles

production_companies
Four By Two Productions    83.0
Name: title_length, dtype: float64

In [53]:
answers['Company with longest titles'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?
# 26. Which company writes the longest movie overviews?(most words)

In [54]:
'''Replacing all the punctuation signs for easier word count.'''
word_count = data.overview.str.replace(', ', ' ')
word_count = word_count.str.replace('.', ' ')
word_count = word_count.str.replace(':', ' ')
word_count = word_count.str.replace('-', ' ')
word_count = word_count.str.replace(';', ' ')

word_count = word_count.apply(lambda x: x.split(' '))
'''Function takes in a string and returns a list of words'''
data['word_count'] = word_count.apply(lambda x: len(x))
'''Function takes in a list and calculates the number of elements in it'''

'Function takes in a list and calculates the number of elements in it'

In [55]:
mean_word_count = data.explode('production_companies').groupby(
    ['production_companies']
)['word_count'].mean()
longest_overviews = mean_word_count.loc[
    mean_word_count == mean_word_count.max()
]
longest_overviews

production_companies
Midnight Picture Show    184.0
Name: word_count, dtype: float64

In [56]:
answers['Company with longest overviews'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
# 26. Which movies are in top 1% of the average rating?

In [57]:
boundary = data['vote_average'].quantile(0.99)
top_percent = data.loc[data['vote_average'] > boundary]
top_percent

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,word_count
9,tt2096673,175000000,853708609,Inside Out,"[Amy Poehler, Phyllis Smith, Richard Kind, Bil...",Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,"[Comedy, Animation, Family]","[Walt Disney Pictures, Pixar Animation Studios...",6/9/2015,8.0,2015,678708609,6,118
34,tt3170832,6000000,35401758,Room,"[Brie Larson, Jacob Tremblay, Joan Allen, Sean...",Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,"[Drama, Thriller]","[Element Pictures, No Trace Camping, A24, Dupe...",10/16/2015,8.0,2015,29401758,10,51
118,tt0816692,165000000,621752480,Interstellar,"[Matthew McConaughey, Jessica Chastain, Anne H...",Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,"[Adventure, Drama, Science Fiction]","[Paramount Pictures, Legendary Pictures, Warne...",11/5/2014,8.0,2014,456752480,11,36
119,tt2015381,170000000,773312399,Guardians of the Galaxy,"[Chris Pratt, Zoe Saldana, Dave Bautista, Vin ...",James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,"[Action, Science Fiction, Adventure]","[Marvel Studios, Moving Picture Company (MPC),...",7/30/2014,7.9,2014,603312399,7,29
125,tt2084970,14000000,233555708,The Imitation Game,"[Benedict Cumberbatch, Keira Knightley, Matthe...",Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,"[History, Drama, Thriller, War]","[Black Bear Pictures, Bristol Automotive]",11/14/2014,8.0,2014,219555708,11,50
128,tt2267998,61000000,369330363,Gone Girl,"[Ben Affleck, Rosamund Pike, Carrie Coon, Neil...",David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,"[Mystery, Thriller, Drama]","[Twentieth Century Fox Film Corporation, Regen...",10/1/2014,7.9,2014,308330363,10,31
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,"[Ralph Fiennes, Tony Revolori, F. Murray Abrah...",Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,"[Comedy, Drama]","[Fox Searchlight Pictures, Scott Rudin Product...",2/26/2014,7.9,2014,144600318,2,68
370,tt1375666,160000000,825500000,Inception,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elle...",Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,"[Action, Thriller, Science Fiction, Mystery, A...","[Legendary Pictures, Warner Bros., Syncopy]",7/14/2010,7.9,2010,665500000,7,46
599,tt0468569,185000000,1001921825,The Dark Knight,"[Christian Bale, Michael Caine, Heath Ledger, ...",Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,"[Drama, Action, Crime, Thriller]","[DC Comics, Legendary Pictures, Warner Bros., ...",7/16/2008,8.1,2008,816921825,7,71
872,tt0253474,35000000,120072577,The Pianist,"[Adrien Brody, Thomas Kretschmann, Frank Finla...",Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,"[Drama, War]","[Bac Films, Canal+Polska, Heritage Films, Stud...",9/24/2002,7.9,2002,85072577,9,43
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,"[Elijah Wood, Ian McKellen, Viggo Mortensen, L...",Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,"[Adventure, Fantasy, Action]","[WingNut Films, New Line Cinema]",12/1/2003,7.9,2003,1024888979,12,47
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,"[Leonardo DiCaprio, Jonah Hill, Margot Robbie,...",Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,"[Crime, Drama, Comedy]","[Paramount Pictures, Appian Way, EMJAG Product...",12/25/2013,7.9,2013,292000694,12,31
1191,tt2024544,20000000,187000000,12 Years a Slave,"[Chiwetel Ejiofor, Michael Fassbender, Lupita ...",Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,"[Drama, History]","[Plan B Entertainment, Regency Enterprises, Ri...",10/18/2013,7.9,2013,167000000,10,65
1800,tt0209144,9000000,39723096,Memento,"[Guy Pearce, Carrie-Anne Moss, Joe Pantoliano,...",Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,"[Mystery, Thriller]","[Summit Entertainment, Newmarket Capital Group...",10/11/2000,7.9,2000,30723096,10,82

In [58]:
answers['Movies in top 1%'] = ['The Dark Knight', 'Inside Out', 'Room',
                               'Interstellar', 'The Imitation Game',
                               'Guardians of the Galaxy', 'Gone Girl',
                               'The Grand Budapest Hotel', 'Inception',
                               'The Pianist', 'Memento'
                               'The Lord of the Rings: The Return of the King',
                               'The Wolf of Wall Street', '12 Years a Slave'
                              ]

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?
# 27. Which actors appear together most often?

In [62]:
data_pairs = data['cast'].reset_index()
data_pairs['pairs'] = data_pairs['cast'].apply(
    lambda x: list(it.combinations(x, 2))
)
'''The function takes in a list and returns all the
   combinations of two elements from the list'''
data_pairs = data_pairs.explode('pairs').reset_index()
collections.Counter(data_pairs['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [60]:
answers['Actors who most often appear together'] = [
    'Daniel Radcliffe', 'Rupert Grint'
]

#  Conclusion

In [61]:
answers

{'Highest budget': 'Pirates of the Caribbean: On Stranger Tides',
 'Longest movie': 'Gods and Generals',
 'Shortest movie': 'Winnie the Pooh',
 'Mean runtime': '110 minutes',
 'Median runtime': '107 minutes',
 'Most profitable movie': 'Avatar',
 'Least profitable movie': 'The Lone Ranger',
 'Movies with net gain': '1478',
 'Highest revenue of 2018': 'The Dark Knight',
 'Highest loss of 2012-2014': 'The Lone Ranger',
 'Most common genre': 'Drama',
 'Most profitable genre': 'Drama',
 'Director with highest revenue': 'Peter Jackson',
 'Action Director with most movies': 'Robert Rodriguez',
 'Most profitable actor': 'Chris Hemsworth',
 'Actor appearing in high-budget films': 'Matt Damon',
 'Nicolas Cage appears the most in': ' Action movies',
 'Movie with highest net loss made by Paramount Pictures': 'K-19: The Widowmaker',
 'Most profitable year': '2015',
 'Most profitable year for Warner Bros': '2014',
 'Most common month for movies to be released': '9th month, September',
 'Number of summer releases': '450',
 'Most productive winter director': 'Peter Jackson',
 'Company with longest titles': 'Four By Two Productions',
 'Company with longest overviews': 'Midnight Picture Show',
 'Movies in top 1%': ['The Dark Knight',
  'Inside Out',
  'Room',
  'Interstellar',
  'The Imitation Game',
  'Guardians of the Galaxy',
  'Gone Girl',
  'The Grand Budapest Hotel',
  'Inception',
  'The Pianist',
  'MementoThe Lord of the Rings: The Return of the King',
  'The Wolf of Wall Street',
  '12 Years a Slave'],
 'Actors who most often appear together': ['Daniel Radcliffe', 'Rupert Grint']}