In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
107,tt2561572,40000000,106511453,Get Hard,Will Ferrell|Kevin Hart|Alison Brie|Craig T. N...,Etan Cohen,An education in incarceration.,When obscenely rich hedge-fund manager James i...,100,Comedy,Gary Sanchez Productions|Warner Bros.,3/26/2015,5.9,2015
1136,tt0318155,80000000,68514844,Looney Tunes: Back in Action,Brendan Fraser|Jenna Elfman|Steve Martin|Timot...,Joe Dante,Real life has never been so animated.,Bugs Bunny and Daffy Duck are up to their feud...,90,Animation|Comedy|Family,Lonely Film Productions GmbH & Co. KG.|Warner ...,11/14/2003,5.5,2003
1712,tt0385752,180000000,372234864,The Golden Compass,Nicole Kidman|Daniel Craig|Dakota Blue Richard...,Chris Weitz,There are worlds beyond our own - the compass ...,"After overhearing a shocking secret, precociou...",113,Adventure|Fantasy,New Line Cinema|Ingenious Film Partners|Depth ...,12/4/2007,5.7,2007
80,tt2752772,10000000,52882018,Sinister 2,Shannyn Sossamon|James Ransone|Tate Ellington|...,Ciaran Foy,"Be careful, children at play.",A young mother and her twin sons move into a r...,97,Horror,Alliance Films|Blumhouse Productions|IM Global...,8/19/2015,5.5,2015
967,tt0256276,25000000,10113733,Possession,Gwyneth Paltrow|Aaron Eckhart|Jeremy Northam|J...,Neil LaBute,The past will connect them. The passion will p...,"Maud Bailey, a brilliant English academic, is ...",102,Drama|Mystery,Warner Bros. Pictures|Focus Features|Baltimore...,10/2/2002,6.6,2002

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides'

In [6]:
question_1 = data.loc[data['original_title'].isin 
                       (['The Dark Knight Rises',
                        'Spider-Man 3',
                        'Avengers: Age of Ultron',
                       "The Warrior's Way",
                       'Pirates of the Caribbean: On Stranger Tides'])]

question_1.loc[data['budget'] == data['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
answers['2'] = 'Gods and Generals'

In [9]:
question_2 = data.loc[data['original_title'].isin 
                       (['The Lord of the Rings: The Return of the King',
                        'Gods and Generals',
                        'King Kong',
                       "Pearl Harbor",
                       'Alexander'])]

question_2.loc[data['runtime'] == data['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
answers['3'] = 'Winnie the Pooh'

In [11]:
question_3 = data.loc[data['original_title'].isin 
                       (['Home on the Range',
                        'The Jungle Book 2',
                        'Winnie the Pooh',
                       "Corpse Bride",
                       'Hoodwinked!'])]

question_3.loc[data['runtime'] == data['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [18]:
answers['4'] = '110'

In [13]:
question_4 = data.runtime.mean()
question_4

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [22]:
answers['5'] = '107'

In [15]:
question_5 = data.runtime.median()
question_5

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# 7. Какой фильм самый убыточный?

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

# 9. Какой фильм оказался самым кассовым в 2008 году?

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

# 13. У какого режиссера самые большие суммарные кассовые сборы?

# 14. Какой режисер снял больше всего фильмов в стиле Action?

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

# 18. Самый убыточный фильм от Paramount Pictures

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

# 20. Какой самый прибыльный год для студии Warner Bros?

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

# 23. Для какого режиссера зима – самое продуктивное время года?

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [23]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '5': '107',
 '4': '110'}

In [17]:
# и убедиться что ни чего не пропустил)
len(answers)

5